@font-face {
  font-family: "GT Walsheim Trial Cn Lt";
  font-style: normal;
  font-weight: normal;
  src: local("GT Walsheim Trial Cn Lt"),
    url("./fonts/gt-trials/GT-Walsheim-Condensed-Light-Trial-BF651b7fc73810c.woff")
      format("woff");
}

@font-face {
  font-family: "GT Walsheim Trial Cn Rg";
  font-style: normal;
  font-weight: normal;
  src: local("./fonts/gt-trials/GT Walsheim Trial Cn Rg"),
    url("GT-Walsheim-Condensed-Regular-Trial-BF651b7fc730eb2.woff")
      format("woff");
}

@font-face {
  font-family: "GT Walsheim ProCB"; /* Name your font family */

  src: url("./fonts/gt-walsheim-pro/GTWalsheimPro-CondensedBlack.woff2")
      format("woff2"),
    url("../fonts/gt-walsheim-pro/GTWalsheimPro-CondensedBlack.woff")
      format("woff"); /* Adjust file names and paths as needed */
}

@font-face {
  font-family: "GT Walsheim Con"; /* Name your font family */

  src: url("./fonts/gt-walsheim-pro/GTWalsheimPro-CondensedRegular.woff2")
      format("woff2"),
    url("../fonts/gt-walsheim-pro/GTWalsheimPro-Regular.woff") format("woff"); /* Adjust file names and paths as needed */
}

@font-face {
  font-family: "GT Walsheim Trial Cn Md";
  font-style: normal;
  font-weight: normal;
  src: local("GT Walsheim Trial Cn Md"),
    url("./fonts/gt-trials/GT-Walsheim-Condensed-Medium-Trial-BF651b7fc70de01.woff")
      format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GT Walsheim ProCB";
}

.container {
  max-width: 1204px;
  margin: 0 auto;
}

.intro-sales {
  padding: 2rem 2.5rem 2rem 1.9rem;
  background-image: url("./img/first-bg.png");
  background-repeat: repeat;
  background-size: contain;
}
.intro-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.intro-image.desktop {
  display: none;
}
.intro-image img {
  max-width: 100%;
}

.intro-image.mobile img {
  margin-top: 15px;
  margin-left: -6px;
}

.intro-content {
  /* border: 1px solid red; */
}

.intro-content h1 {
  font-size: 3.3rem;
  color: #0d4036;
  line-height: 1;
  font-weight: 900;
  /* font-family: "GT Walsheim ProCB";  */
}
.intro-content h1 span {
  color: #52ccb4;
}
.intro-content p {
  color: #0d4036;
  margin: 0.8rem 0;
  max-width: 19rem;
  font-family: "GT Walsheim Con";
  /* font-weight: 500; */
  font-weight: lighter;
  line-height: 1.6;
  font-size: 15px;
}
.intro-sales .cta-btn {
  display: inline-block;
  padding: 0.9rem 4rem;
  background: #52ccb4;
  color: #0d4036;
  font-family: "GT Walsheim Trial Cn Md";

  font-weight: 500;
  letter-spacing: 0.7px;
  border-radius: 6px;
  text-decoration: none;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

/* =========================================BOOK SECTION */

.book-section {
  padding: 3rem 1.5rem;
  background-image: url("./img/second-bg.png");
  background-repeat: repeat;
  background-size: contain;
}

.book-container {
  text-align: center;
  color: #0d4036;
}

.book-header h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.book-header p {
  max-width: 350px;
  margin: 1rem auto 2rem;
  padding: 0px 7px;
  line-height: 1.15;
  font-size: 17px;
  vertical-align: middle;
  font-family: "GT Walsheim Con";
  /* font-weight: 600; */
}

.book-cards {
  display: grid;
  gap: 0.1rem;
  margin-top: 1.5rem;
}

.book-card {
  overflow: hidden;
}

.book-card .card-image {
  position: relative;
  width: 100%;
  height: 400px;
}

.book-card .card-image img {
  width: 100%;
  height: 100%;
}

.book-section .closing-text {
  max-width: 350px;
  margin: 2.5rem auto 1.5rem;
  font-size: 1.3rem;
  padding: 0px 20px;

  font-weight: 700;
}

.book-section .cta-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: #52ccb4;
  color: #0d4036;
  font-weight: 200;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 1.3rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);

  font-family: "GT Walsheim Trial Cn Md";

  /* font-weight: 500; */
}

/* OVERLAY */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease, visibility 0.35s ease;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* MODAL ANIMATION */
.modal-box {
  background-image: url("./img/first-bg.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  position: relative;
  text-align: center;

  /* Animation starting state */
  transform: translateY(40px) scale(0.92);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

/* When overlay is active, animate modal in */
.modal-overlay.active .modal-box {
  transform: translateY(0) scale(1);
  opacity: 1;
}

/* TEXT */
.modal-box h3 {
  color: #0d4036;
  font-size: 1.1rem;
  line-height: 1.4;
  font-family: "GT Walsheim Trial Cn Md";
  font-weight: 500;
  margin-bottom: 3rem;
  padding: 0px 60px;
}

/* INPUTS */
.modal-box input {
  width: 100%;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 2.3rem;
  font-size: 0.95rem;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.12);
  border-bottom: 1.6px solid #0d4036;
}
.modal-box input::placeholder {
  color: #afaeae;
  font-family: "GT Walsheim Con";
  letter-spacing: 0.4px;
}

/* BUTTON */
.form-btn {
  padding: 1rem;
  background: #0d4036;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 20px 50px;
  font-family: "GT Walsheim Con";
  letter-spacing: 0.4px;
}

/* CLOSE BUTTON */
.close-modal {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #0d4036;
  cursor: pointer;
}

/* ================================== Premium Section */

.premium-section {
  background-color: #fff;
}

.premium-section .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.premium-section .text-content {
  text-align: center;
  background-color: #e5ae56;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 40px;
  text-align: left;
  gap: 80px;
  margin: 16px;
}
.premium-section .text-content-upper,
.premium-section .text-content-below {
  max-width: 210px;
}

.premium-section .text-content-upper h2 {
  font-size: 20px;
  color: #0d4036;
  padding-bottom: 20px;
  padding-right: 30px;
}
.premium-section .text-content-upper p {
  font-size: 16px;
  color: #0d4036;
  font-family: "GT Walsheim Con";
}
.premium-section .text-content-below p {
  font-size: 19px;
  color: #0d4036;
  line-height: 1;
  letter-spacing: 0.6px;
  font-weight: 400;
}
.premium-section .text-content-below p img {
  width: 50px;

  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5px;
  left: 10px;
}

.premium-section .info {
  background-image: url("./img/last-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 35px 50px 20px 50px;
}

.premium-section .info h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
  max-width: 250px;
}

.premium-section .info .info-headings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #fff;
  margin-top: 30px;
}
.premium-section .info .info-headings > div {
  display: flex;
  flex-direction: column;
}

.premium-section .info .info-headings > div h5 {
  font-size: 40px;
}
.premium-section .info .info-headings > div span {
  font-size: 13px;
  font-family: "GT Walsheim Con";
  letter-spacing: 0.5px;
}

.premium-section .info ul {
  list-style: disc;
  padding-left: 0;
  color: #fff;
  margin-top: 40px;
}

.premium-section .info ul li {
  font-size: 17px;

  font-family: "GT Walsheim Con";
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 10px;
  padding-right: 30px;
}

.premium-section .learn-more {
  display: inline-block;
  margin-top: 60px;
  background-color: #cced60;
  color: #0d4036;
  padding: 1.1rem 1.6rem;

  text-decoration: none;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);

  font-family: "GT Walsheim Con";
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}
.premium-section .learn-more:hover {
  background-color: #fff;
  color: #0d4036;
}

/* Tablet */
@media (min-width: 768px) {
  .intro-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
  }
  .intro-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left;
    padding-top: 1rem;
  }
  .intro-content .intro-info {
    margin-left: 10%;
  }
  .intro-image.desktop {
    display: block;
  }

  .intro-image.mobile {
    display: none;
  }
  /* =========================================BOOK SECTION */

  .book-cards {
    max-width: 400px;
    margin: 0 auto;
  }

  .book-header p {
    max-width: 650px;
  }

  .book-cards {
    max-width: initial;
    grid-template-columns: repeat(3, 1fr);
  }

  .book-header p {
    padding: 0px 15px;
  }

  .book-card .card-image {
    width: 100%;
    height: 270px;
  }

  .book-section .closing-text {
    max-width: 450px;
    font-size: 1rem;
    padding: 0px 20px;
  }

  .book-section .cta-btn {
    margin-top: 0.3rem;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  }

  .premium-section .learn-more {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .intro-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
  }

  .intro-content {
    justify-content: start;
    align-items: end;
    text-align: left;
    padding-top: 4rem;
    margin-right: 16%;
    /* border: 1px solid red; */
  }
  .intro-content h1 {
    font-size: 4.5rem;
  }

  .intro-content .intro-info {
    margin-right: 9%;
  }

  .intro-image.desktop {
    padding: 1rem 1rem 0rem 0rem;
  }
  .intro-image.desktop {
    max-width: 100%;
    margin-left: -18%;
  }

  /* =========================================BOOK SECTION */
  .book-card .card-image {
    width: 100%;
    height: 400px;
  }

  .book-section .closing-text {
    font-size: 1.1rem;
  }

  /* =========================================MODAL */

  .modal-box {
    padding: 3rem 5rem;
    border-radius: 15px;
    max-width: 650px;
  }

  /* BUTTON */
  .form-btn {
    padding: 15px 60px;
    margin-top: 10px;
    font-size: 1rem;
  }
  .modal-box h3 {
    padding: 0px 0px;
  }

  /* ==================================== PREMIUM SECTION */
  .premium-section .content {
    flex-direction: row;
    padding: 20px;
  }
  .premium-section .text-content {
    margin: 0px;
    width: 440px;
    padding: 40px 30px;
    gap: 20px;
  }
  .premium-section .info-container {
    display: flex;
    gap: 30px;
  }
  .premium-section .info {
    border-radius: 10px;
    padding: 40px 50px;
  }
  .premium-section .info ul {
    margin-top: 15px;
  }

  .premium-section .info-container h3 {
    font-size: 30px;
    padding-right: 30px;
    max-width: 300px;
  }
  .premium-section .info .info-headings {
    margin-top: 0px;
  }
  .premium-section .info ul li {
    font-size: 19px;
  }
  .premium-section .learn-more {
    width: 45%;
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .intro-content h1 {
    font-size: 5.2rem;
  }

  .intro-content p {
    font-size: 17px;
    line-height: 1.1;
    max-width: 21rem;
    margin-bottom: 1.2rem;
  }

  .intro-content .intro-info {
    margin-right: 12%;
  }
}
