@font-face {
  font-family: "GT Walsheim Trial Md";
  font-style: normal;
  font-weight: normal;
  src: local("GT Walsheim Trial Md"),
    url("./fonts/gt-trials/GT-Walsheim-Medium-Trial-BF651b7fc728fb3.woff")
      format("woff");
}

@font-face {
  font-family: "GT Walsheim Trial Rg";
  font-style: normal;
  font-weight: normal;
  src: local("GT Walsheim Trial Rg"),
    url("./fonts/gt-trials/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.woff") format("woff");
}

    @font-face {
    font-family: 'GT Walsheim Trial Cn Bl';
    font-style: normal;
    font-weight: normal;
    src: local('./fonts/gt-trials/GT Walsheim Trial Cn Bl'), url('GT-Walsheim-Condensed-Black-Trial-BF651b7fc6a5bf5.woff') format('woff');
    }


    

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GT Walsheim Trial Md";
}

.container {
  max-width: 1204px;
  margin: 0 auto;
}

.intro-sales {
  padding: 2rem 1.5rem;
  background-image: url("./img/first-bg.png");
  background-repeat: repeat;
  background-size: contain;
}

.intro-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intro-content h1 {
  font-size: 2.8rem;
  color: #0d4036;
  line-height: 1.1;

  /* font-weight: 900; */


}

.intro-content h1 span {
  color: #52ccb4;
}

.intro-content p {
  color: #0d4036;
  font-weight: 200;
  margin: 1rem 0 1.5rem;
  max-width: 22rem;
  font-family: "GT Walsheim Trial Rg";

}

.intro-sales .cta-btn {
  display: inline-block;
  padding: 0.9rem 4rem;
  background: #52ccb4;
  color: #0d4036;
  font-weight: 200;
  border-radius: 6px;
  text-decoration: none;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.intro-image.desktop {
  display: none;
}

.intro-image img {
  width: 100%;
  object-fit: cover;
}

/* =========================================BOOK SECTION */

.book-section {
  padding: 3rem 1.5rem;
  background-image: url("./img/second-bg.png");
  background-repeat: repeat;
  background-size: contain;
}

.book-container {
  text-align: center;
  color: #0d4036;
}

.book-header h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.book-header p {
  max-width: 650px;
  margin: 1rem auto 2rem;
  padding: 0px 3 0px;
  line-height: 1.6;
  font-size: 16px;
}

.book-cards {
  display: grid;
  gap: 0.1rem;
  margin-top: 1.5rem;
}

.book-card {
  overflow: hidden;
}

.book-card .card-image {
  position: relative;
  width: 100%;
  height: 400px;
}

.book-card .card-image img {
  width: 100%;
  height: 100%;
}

.book-card h4 {
  margin: 1rem 0 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
}

.book-card p {
  padding: 0 1rem;
  line-height: 1.5;
  font-size: 0.95rem;
}

.book-section .closing-text {
  max-width: 350px;
  margin: 2.5rem auto 1.5rem;
  font-size: 1.3rem;
  padding: 0px 20px;

  font-weight: 700;
}

.book-section .cta-btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: #52ccb4;
  color: #0d4036;
  font-weight: 200;
  border-radius: 6px;
  text-decoration: none;
  /* margin-bottom: 2rem; */
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
/* OVERLAY */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease, visibility 0.35s ease;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* MODAL ANIMATION */
.modal-box {
  background: #ffffff;
  background-image: url("bg-texture.png");
  background-size: cover;
  border-radius: 18px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  position: relative;
  text-align: center;

  /* Animation starting state */
  transform: translateY(40px) scale(0.92);
  opacity: 0;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

/* When overlay is active, animate modal in */
.modal-overlay.active .modal-box {
  transform: translateY(0) scale(1);
  opacity: 1;
}

/* TEXT */
.modal-box h3 {
  color: #0d4036;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

/* INPUTS */
.modal-box input {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  font-size: 0.95rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

/* BUTTON */
.form-btn {
  width: 100%;
  padding: 1rem;
  background: #0d4036;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

/* CLOSE BUTTON */
.close-modal {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #0d4036;
  cursor: pointer;
}

/* ================================== Premium Section */

.premium-section {
  background-color: #fff;
}

.premium-section .content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.premium-section .text-content {
  text-align: center;
  background-color: #e5ae56;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
  gap: 60px;
  margin: 20px;
}
.premium-section .text-content-upper,
.premium-section .text-content-below {
  max-width: 210px;
}
.premium-section .text-content-below {
  /* line-height: 0.7; */
}

.premium-section .text-content-upper h2 {
  font-size: 20px;
  color: #0d4036;
  padding-bottom: 20px;
}
.premium-section .text-content-upper p {
  font-size: 16px;
  color: #0d4036;
}
.premium-section .text-content-below p {
  font-size: 19px;
  color: #0d4036;
  font-weight: 700;
  line-height: 1;

  /* display: inline-flex;
  justify-content: center;
  align-items: center; */
}
.premium-section .text-content-below p img {
  width: 50px;

  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5px;
  left: 10px;
}

.premium-section .info {
  background-image: url("./img/last-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px 50px;
}

.premium-section .info h3 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px;
  max-width: 250px;
}

.premium-section .info .info-headings {
  display: flex;
  color: #fff;
  margin-top: 30px;
}
.premium-section .info .info-headings > div {
  display: flex;
  flex-direction: column;
}

.premium-section .info .info-headings > div h5 {
  font-size: 40px;
}

.premium-section .info ul {
  list-style: disc;
  padding-left: 0;
  color: #fff;
  margin-top: 40px;
}

.premium-section .info ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.premium-section .learn-more {
  display: inline-block;
  margin-top: 60px;
  background-color: #cced60;
  color: #0d4036;
  padding: 1.1rem 1.6rem;

  text-decoration: none;
  border-radius: 5px;
  font-size: 13px;
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

/* Desktop */
@media (min-width: 768px) {
  .book-cards {
    max-width: 400px;
    margin: 0 auto;
  }

  .intro-image {
    max-width: 80%;
  }
}
@media (min-width: 900px) {
  .intro-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 40px;
  }

  .intro-content {
    max-width: 45%;
  }

  .intro-image.mobile {
    display: none;
  }
  .intro-image.desktop {
    display: block;
  }

  .intro-image {
    max-width: 50%;
  }

  .intro-content h1 {
    font-size: 5rem;
  }
  .book-cards {
    max-width: initial;
    grid-template-columns: repeat(3, 1fr);
  }

  .book-section .closing-text {
    max-width: 460px;
  }

  .premium-section .content {
    flex-direction: row;
    padding: 20px;
  }
  .premium-section .text-content {
    margin: 0px;
    flex: 35%;
  }
  .premium-section .info-container {
    display: flex;
  }
  .premium-section .info {
    border-radius: 10px;
  }

  .premium-section .info-container h3 {
    font-size: 35px;
    padding-right: 30px;
    max-width: 400px;
  }
  .premium-section .info .info-headings {
    margin-top: 0px;
  }
  .premium-section .learn-more {
    width: 50%;
  }
}
